// declaration des variables

$background-color: var(--fond-parrot, #2E71AE);
$colorFontMain : #DBBC19;
$colorhover : white;
$colorButtonContact:#421B25;
$colorbackgroundfooter: #6D7F98;
$colorfonttemoignage:white;
$colorBorderPic:#DBBC19;
$colorbuttonaccueil:#D9D9D9;
$colorbackgroundmain:#D9D9D9;
$colorfontH1: white;
$colorbackgroundbackform:rgba(46, 113, 174, 0.52) ;
