.logoPic {
    border-radius: 17.4375rem;
    border: Solid 3px #DBBC19;
    width: 17.4375rem;
    height: 17.4375rem;
    }
.containerAcceuil{
    display: flex;
    
    padding: 10rem 3rem 4.875rem 2.9375rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10.25rem;
}