// First Page
.logoPic {
    border-radius: 17.4375rem;
    border: Solid 4px #DBBC19;
    width: 17.4375rem;
    height: 17.4375rem;
    }
  .logoPic:hover {
    border: $colorhover solid 3px;
    transform: scale (1.1);
  }
    
    
    






//header

.LogoHeader {
  
  border-radius: 8.5rem;
  border:  2px solid $colorFontMain
}
.LogoHeader:hover {
  transform: scale (1.2);
  border: $colorhover  3px solid; 
                  
}

// header nav mobile

.colorfontnavmobile{
color: $colorFontMain;
border-radius: 1.25rem;
}


