.formcontact{
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: $colorbackgroundmain;
    padding: 2%;
    margin-left: 5%;
   border-radius: 20px;
    
}

.divformcontact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.validcontact{
    background-color: $background-color;
   align-self: flex-end;
   border-radius: 20px;
}
.formcontact input{
    border-radius: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
}
.formcontact textarea{
    border-radius: 20px;
}