.formcontact{
    width: 100%;
    background-color: $colorbackgroundmain;
    border-radius: 20px;
       
}


.validcontact{
    background-color: $background-color;
    border-radius: 20px;
   
}
.formcontact input{
    border-radius: 20px;
    margin-top: 0.5%;
    margin-bottom:0.5%;
    background-color:$colorbackgroundbackform;
   
}
.formcontact textarea{
    border-radius: 20px;
    background-color:$colorbackgroundbackform;
    
}