
.imagecontactvehicule{
    width: 70%;
    height: auto;
    border-radius: 20px;
    border: solid 3px $colorBorderPic;
    
}
#objet{
    font-size: 0.55em;
    color: white;
}
.rdvdetailvte{
    width: 30%;
    color: $colorfontH1;
    background-color: $colorButtonContact;
    border-radius: 20px;
   
}