// page d acceuil
body {
    background-color: $background-color;
}

.titleBeginn {
    color : $colorFontMain;
    font-family: Inter;
    font-size: 2.25rem;
    font-weight: 400;
    line-height: normal;
}