@media screen and (max-width: 840px){

.headerMenu{
    display: none;
}
.navBarMobile{
    margin-right: 2%;
   // align-items: center;
    position: absolute;
    top: 30%;
}


}

@media screen and (min-width: 841px){
//navbar
.navBarMobile{
    display: none;
}
//accueil.php


.containerPrestation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-bottom: 5%;

}

.containerPrestation img{
    width: 15.625rem;
    height: 11.63856rem;
}
.containerPrestation h3{
    width: 12rem;
    height: 4rem;
    border-radius: 3.125rem;
    border: 2px solid #000;
    background-color: $colorbuttonaccueil;
    text-align: center;
    font-size: large;
    padding-top: 3%;
    margin-top: 4%;
    color:black;
}
.containerPrestation1{
    flex-direction: column;
    justify-content: center;
    width: 33%;
    height: 100%;
    
}
.containerPrestation1 img{
    right: 0%;


}   

.containerReparation2{
    flex-direction: column;
    justify-content: center;
    width: 33%;
    height: 100%;
}
.containerventevehicule3{
    flex-direction: column;
    justify-content: center;
    width: 33%;
    height: 100%;
    margin-bottom: 0%;
}

}