html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--fond-parrot, #2E71AE);
  font-size: x-large;
  box-sizing: border-box;
  min-height: 100%;
}

h1 {
  color: white;
  text-align: center;
  font-size: xx-large;
}

.titleBeginn {
  color: #DBBC19;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
}

.containerAcceuil {
  display: flex;
  padding: 10rem 3rem 4.875rem 2.9375rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10.25rem;
}

.LogoHeader {
  width: 4.875rem;
  height: 4.77863rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 8.2%;
  margin-bottom: 1%;
}

.headerMenu {
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.fontMenu {
  color: #DBBC19;
  text-decoration: none;
}

.navBarMobile {
  display: flex;
  justify-content: flex-end;
  width: 90%;
}

footer {
  width: 100%;
  height: 5%;
  background-color: #6D7F98;
  display: flex;
  font-size: 1rem;
  flex-direction: row;
}

.containerfooter {
  display: flex;
  width: 100%;
  align-items: center;
}

.horaires {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  font-size: smaller;
}

.horaires span {
  text-decoration: underline;
}

.containertemoignage {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 0.85rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 80%;
  height: 6.6875rem;
  border-radius: 1.25rem;
  background: var(--fond-image-commentaire, rgba(217, 217, 217, 0.5));
  justify-content: center;
  margin-left: 10%;
  margin-bottom: 3%;
}

.colorfonttemoignage {
  color: white;
  font-size: 0.85rem;
}

.containerPrestation {
  width: 95%;
  height: 100%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}

.containerPrestation img {
  border-radius: 1.25rem;
  border: 2px solid #4E495D;
  width: 100px;
  height: auto;
}

.containerPrestation1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.containerReparation2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}

.containerventevehicule3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 10%;
}

.logoPic {
  border-radius: 17.4375rem;
  border: Solid 4px #DBBC19;
  width: 17.4375rem;
  height: 17.4375rem;
}

.logoPic:hover {
  border: white solid 4px;
}

.ContactButton {
  background-color: #421B25;
  border-radius: 1.875rem;
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  width: 4.6875rem;
  height: 2.36531rem;
  border: 1px solid #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.Contactbutton, .btncommentaire:hover {
  border: 1px solid white;
}

.contactcolor, .btncommentaire {
  color: white;
  text-decoration: none;
}

.policebouton {
  color: white;
  text-decoration: none;
}

.buttoncommentaire {
  background-color: #421B25;
  border-radius: 1.875rem;
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  border: 1px solid #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 15%;
  height: auto;
}

.LogoHeader {
  border-radius: 8.5rem;
  border: 2px solid #DBBC19;
}

.colorfontnavmobile {
  color: #DBBC19;
  border-radius: 1.25rem;
}

.containerPrestation a {
  text-decoration: none;
}

@media screen and (max-width: 840px) {
  .headerMenu {
    display: none;
  }
  .navBarMobile {
    margin-right: 2%;
    position: absolute;
    top: 30%;
  }
}
@media screen and (min-width: 841px) {
  .navBarMobile {
    display: none;
  }
  .containerPrestation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 5%;
    margin-left: 0%;
  }
  .containerPrestation img {
    width: 15.625rem;
    height: 11.63856rem;
  }
  .menuaccueil {
    width: 12rem;
    height: 4rem;
    border-radius: 3.125rem;
    border: 2px solid #000;
    background-color: #D9D9D9;
    text-align: center;
    font-size: large;
    padding-top: 3%;
    margin-top: 4%;
    color: black;
    align-content: center;
  }
  .containerPrestation1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .containerPrestation1 img {
    right: 0%;
  }
  .containerReparation2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .containerventevehicule3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0%;
    align-items: center;
    margin-left: 0%;
  }
  .servicecontainer1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .servicescontainer {
    margin-bottom: 2%;
  }
  .servicecontainer1 img {
    width: 200px;
    height: auto;
  }
  .listeservices {
    text-align: left;
  }
  .containerreparation1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .containerreparation1 img {
    width: 200px;
    height: auto;
  }
  .formcontact1 {
    width: 40%;
    height: 50%;
    margin-left: 30%;
  }
  .formcontact1 textarea {
    width: 100%;
    resize: none;
  }
  .divformcontact {
    margin-bottom: 2%;
  }
}
.capot {
  width: 25%;
  height: auto;
  border-radius: 20px;
  border: 2px solid #4E495D;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  text-align: center;
  margin-left: 2%;
}

.containerreparations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ListReparations {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
}

.servicescontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.servicescontainer div {
  text-align: center;
}

.roue {
  width: 25%;
  height: auto;
  border-radius: 20px;
  border: 2px solid #4E495D;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  text-align: center;
  margin-left: 2%;
}

.mainconnexion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerconnexion {
  background-color: #D9D9D9;
  text-align: center;
  border-radius: 20px;
  padding-bottom: 2%;
  margin-top: auto;
  width: 60%;
  height: auto;
}

.containerconnexion input {
  width: 75%;
  border-radius: 20px;
  margin-left: 15%;
  margin-top: 2%;
}

.containerconnexion button {
  background-color: var(--fond-parrot, #2E71AE);
  border-radius: 20px;
  margin-left: 60%;
}

.containerconnexion label {
  margin-top: 1%;
}

.formcontact {
  width: 90%;
  display: flex;
  flex-direction: column;
  background-color: #D9D9D9;
  padding: 2%;
  margin-left: 5%;
  border-radius: 20px;
  overflow: hidden;
}

.divformcontact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.validcontact {
  background-color: var(--fond-parrot, #2E71AE);
  align-self: flex-end;
  border-radius: 20px;
}

.formcontact input {
  border-radius: 20px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.formcontact textarea {
  border-radius: 20px;
}

.formcommentaire {
  width: 70%;
  background-color: #D9D9D9;
  margin-left: 15%;
  border-radius: 20px;
  margin-block-end: 2%;
}

.formcommentaire input {
  border-radius: 20px;
  margin-top: 1%;
}

.formcommentaire button {
  background-color: var(--fond-parrot, #2E71AE);
  border-radius: 20px;
  margin-left: 70%;
  width: 30%;
  margin-bottom: 1%;
}

.formcommentaire textarea {
  border-radius: 20px;
  margin: 1%;
  width: 98%;
}/*# sourceMappingURL=style.css.map */