html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--fond-parrot, #2E71AE);
  font-size: x-large;
  box-sizing: border-box;
  min-height: 100%;
}

h1 {
  color: white;
  text-align: center;
  font-size: xx-large;
}

.titleBeginn {
  color: #DBBC19;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
}

.containerAcceuil {
  display: flex;
  padding: 10rem 3rem 4.875rem 2.9375rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10.25rem;
}

.LogoHeader {
  width: 4.875rem;
  height: 4.77863rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 8.2%;
  margin-bottom: 1%;
}

.headerMenu {
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.fontMenu {
  color: #DBBC19;
  text-decoration: none;
}

.navBarMobile {
  display: flex;
  justify-content: flex-end;
  width: 90%;
}

.logoPic {
  border-radius: 17.4375rem;
  border: Solid 4px #DBBC19;
  width: 17.4375rem;
  height: 17.4375rem;
}

.logoPic:hover {
  border: white solid 3px;
  transform: scale 1.1;
}

.LogoHeader {
  border-radius: 8.5rem;
  border: 2px solid #DBBC19;
}

.LogoHeader:hover {
  transform: scale 1.2;
  border: white 3px solid;
}

.colorfontnavmobile {
  color: #DBBC19;
  border-radius: 1.25rem;
}

.containerPrestation {
  width: 95%;
  height: 100%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}

.containerPrestation img {
  border-radius: 1.25rem;
  border: 2px solid #DBBC19;
  width: 100px;
  height: auto;
}

.containerPrestation1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.containerReparation2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}

.containerventevehicule3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 10%;
}

.containerPrestation a {
  text-decoration: none;
}

.containerPrestation a img:hover {
  transform: scale 1.2;
  border: white 3px solid;
}

@media screen and (max-width: 840px) {
  .headerMenu {
    display: none;
  }
  .navBarMobile {
    margin-right: 2%;
    position: absolute;
    top: 30%;
  }
}
@media screen and (min-width: 841px) {
  .navBarMobile {
    display: none;
  }
  .containerPrestation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 5%;
    margin-left: 0%;
  }
  .containerPrestation img {
    width: 15.625rem;
    height: 11.63856rem;
  }
  .menuaccueil {
    width: 12rem;
    height: 4rem;
    border-radius: 3.125rem;
    border: 2px solid #000;
    background-color: #D9D9D9;
    text-align: center;
    font-size: large;
    padding-top: 3%;
    margin-top: 4%;
    color: black;
    align-content: center;
  }
  .containerPrestation1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .containerPrestation1 img {
    right: 0%;
  }
  .containerReparation2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .containerventevehicule3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0%;
    align-items: center;
    margin-left: 0%;
  }
  #roue2, #capot2 {
    text-align: center;
    margin-bottom: 2%;
  }
}
.capot {
  width: 55%;
  height: auto;
  border-radius: 20px;
  border: 3px solid #DBBC19;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  text-align: center;
  margin-left: 2%;
}

.roue {
  width: 55%;
  height: auto;
  border-radius: 20px;
  border: 3px solid #DBBC19;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  text-align: center;
  margin-left: 2%;
}

.mainconnexion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerconnexion {
  background-color: #D9D9D9;
  text-align: center;
  border-radius: 20px;
  padding-bottom: 2%;
  margin-top: auto;
  width: 60%;
  height: auto;
}

.containerconnexion input {
  width: 75%;
  border-radius: 20px;
  margin-left: 15%;
  margin-top: 2%;
  background-color: rgba(46, 113, 174, 0.52);
}

.containerconnexion button {
  background-color: var(--fond-parrot, #2E71AE);
  border-radius: 20px;
  margin-left: 60%;
}

.containerconnexion label {
  margin-top: 1%;
}

.formcontact {
  width: 100%;
  background-color: #D9D9D9;
  border-radius: 20px;
}

.validcontact {
  background-color: var(--fond-parrot, #2E71AE);
  border-radius: 20px;
}

.formcontact input {
  border-radius: 20px;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  background-color: rgba(46, 113, 174, 0.52);
}

.formcontact textarea {
  border-radius: 20px;
  background-color: rgba(46, 113, 174, 0.52);
}

.formcommentaire {
  width: 70%;
  background-color: #D9D9D9;
  margin-left: 15%;
  border-radius: 20px;
  margin-block-end: 2%;
}

.formcommentaire input {
  border-radius: 20px;
  margin-top: 1%;
  background-color: rgba(46, 113, 174, 0.52);
}

.formcommentaire button {
  background-color: var(--fond-parrot, #2E71AE);
  border-radius: 20px;
  margin-left: 70%;
  width: 30%;
  margin-bottom: 1%;
}

.formcommentaire textarea {
  border-radius: 20px;
  margin: 1%;
  width: 98%;
  background-color: rgba(46, 113, 174, 0.52);
}

.buttoncommentaire {
  background-color: var(--fond-parrot, #2E71AE);
  border-radius: 15px;
  font-family: Inter;
  font-size: 75%;
  border: 1px solid #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.buttoncommentaire:hover {
  transform: scale 1.2;
  border: white 2px solid;
}

.btncommentaire {
  color: white;
  text-decoration: none;
}

.btncommentaire:hover {
  color: white;
}

.containertemoignage {
  color: #000;
  font-family: Inter;
  font-size: 75%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: auto;
  width: 80%;
  border-radius: 1.25rem;
  background: var(--fond-image-commentaire, rgba(217, 217, 217, 0.5));
  justify-content: center;
  margin-left: auto;
  padding-top: 0.2%;
  padding-bottom: 0.5%;
}

.colorfonttemoignage {
  color: white;
  font-size: 60%;
}

footer {
  width: 100%;
  height: 5%;
  background-color: #6D7F98;
  display: flex;
  font-size: 1rem;
  flex-direction: row;
}

.containerfooter {
  min-width: 100%;
  padding-top: 0.5%;
  margin-bottom: 0.5%;
}

.ContactButton:hover {
  transform: scale 1.2;
  border: white 2px solid;
}

.ContactButton {
  background-color: #421B25;
  border-radius: 1.875rem;
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  width: 4.6875rem;
  height: 2.36531rem;
  border: 1px solid #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.contactcolor {
  color: white;
  text-decoration: none;
}

.policebouton {
  color: white;
  text-decoration: none;
}

/*.containerVisuVehicule{
    border-radius: 20px;
    width: 80%;
    height: 18,5%;
    background-color: $colorbackgroundmain;
    margin-left: 10%;
    margin-bottom: 2%;



}
.continerDetail{
    border-radius: 20px;
    display: flex;
    flex-direction: row;


}
.imgcar{
    width: 32%;
    height: 63.5%;
    border-radius: 20px;
    //width: auto;
    align-self: center;
    padding: 1%;
}
.containerDescriptif{
    width: 59%;
    //height: 89%;
    background-color: $colorbackgroundbackform;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-left:  5% ;
    height: 100%;
    border-radius: 20px;
    padding: 2%;
}
.containerDescriptif button{
    border-radius: 20px;
    background-color: $background-color;
    width: 20%;
    align-self: flex-end;

}    
.containerDescriptif button a{
    color: $colorfonttemoignage;
    text-decoration: none;
    width: 30%;
    height: 10%;
}


*/
.horaires {
  width: 100%;
  height: 100%;
  align-self: end;
  font-size: smaller;
}

.horaires span {
  text-decoration: underline;
}

.btnmodale {
  background-color: #421B25;
  color: white;
  border-radius: 20px;
}

.btnmodale:hover {
  transform: scale 1.2;
  border: white 2px solid;
  background-color: #421B25;
  color: blue;
}

.colortable {
  border-radius: 20px;
  background-color: var(--fond-parrot, #2E71AE);
  color: white;
}

.colormodalbody {
  background-color: rgba(46, 113, 174, 0.52);
}

.colormodalheader {
  background-color: #D9D9D9;
}/*# sourceMappingURL=style.css.map */